<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="snackTimeout"
    :color="snackColor"
    :bottom="y === 'bottom'"
    :left="x === 'left'"
    :multi-line="mode === 'multi-line'"
    :right="x === 'right'"
    :top="y === 'top'"
    :vertical="mode === 'vertical'"
  >
    <div v-html="snackText"/>
    <v-btn 
      color="pink" 
      text 
      @click="$store.commit('snackBar', false)">
      {{ $t('messages.close') }}
    </v-btn>
  </v-snackbar>
</template>

<script>
import { sync } from 'vuex-pathify'
export default {
  computed: {
    snackTimeout() {
      return this.$store.state.snackTimeout
    },
    snackColor() {
      return this.$store.state.snackColor
    },
    x: sync('snackX'),
    y: sync('snackY'),
    mode: sync('snackMode'),
    snackbar: sync('snackBar'),
    snackText() {
      return this.$store.state.snackText
    }
  }
}
</script>

<style scoped>
</style>
