<template>
  <v-dialog 
    v-model="dialog" 
    max-width="500"
    persistent >
    <v-card>
      <v-card-title>
        {{ $t('messages.condition.title') }}
      </v-card-title>
      <v-card-text>
        <p>{{ $t('messages.condition.p1') }}</p>
        <p>{{ $t('messages.condition.p2') }}</p>
        <!-- <p>Selon l'article 51 du code du rire, l'équipe (moi) dégageons toutes responsabilitées pour ce qui va suivre</p> -->
        <p>{{ $t('messages.condition.p3') }}</p>
      </v-card-text>
      <v-card-actions>
        <!-- <v-btn @click="languageSelected('en')">alternative anglaise</v-btn> -->
        <v-spacer/>
        <v-btn @click="accept">{{ $t('messages.condition.confirm') }} </v-btn>
      </v-card-actions>

    </v-card>

  </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dialog: false
    }
  },
  watch: {
    value(newValue, oldValue) {
      this.dialog = !newValue
    }
  },
  methods: {
    accept() {
      this.$emit('input', true)
    },
    languageSelected(newValue) {
      var code = this.switchLocalePath(newValue)
      this.$router.push(code)
    }
  }
}
</script>

<style scoped>
</style>
