<template>
  <div>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn 
          text 
          icon
          v-on="on"
          @click="clickedDown"
        >
          <fa 
            :icon="['fas', 'thumbs-down']"
            color="red" 
            class="fa-flip-horizontal" />
        </v-btn>
      </template>
      <span>{{ thumbs.down }}</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn 
          text 
          icon 
          v-on="on"
          @click="clickedUp"
        >
          <fa 
            :icon="['fas', 'thumbs-up']" 
            color="green"/>
        </v-btn>
      </template>
      <span>{{ thumbs.up }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import Vue from 'vue'
import * as firebase from 'firebase/app'
const increment = firebase.firestore.FieldValue.increment(1)
export default {
  data() {
    return {
      isVoted: false
    }
  },

  computed: {
    thumbs() {
      return this.$store.state.thumbs
    }
  },

  watch: {
    isVoted(newValue, oldValue) {
      if (newValue) {
        this.$store.dispatch('notif', {
          text: $nuxt.$t('messages.thanksForVote')
        })
      }
    }
  },

  mounted() {
    let store = this.$store

    let ThumbsCollRef = this.$fireStore
      .collection('thumbs')
      .doc(this.$i18n.locale)

    ThumbsCollRef.onSnapshot(function(itemDoc) {
      //if event exist
      if (itemDoc.exists && itemDoc.data()) {
        let data = itemDoc.data()
        store.commit('thumbs', data)
      }
    })
  },

  methods: {
    clickedUp() {
      if (this.isVoted) return null

      if (this.$nuxt.isOffline) {
        this.$store.dispatch('notif', {
          text: $nuxt.$t('messages.noConnexion')
        })
        return null
      }

      this.isVoted = true

      this.$fireStore
        .collection('thumbs')
        .doc(this.$i18n.locale)
        .update({ up: increment })
    },
    clickedDown() {
      if (this.isVoted) return null

      if (this.$nuxt.isOffline) {
        this.$store.dispatch('notif', {
          text: $nuxt.$t('messages.noConnexion')
        })
        return null
      }

      this.isVoted = true

      this.$fireStore
        .collection('thumbs')
        .doc(this.$i18n.locale)
        .update({ down: increment })
    }
  }
}
</script>

<style scoped>
</style>
