<template>
  <v-app class="app">
    <AppSnackBar/>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>
<script>
export default {}
</script>
<style scoped>
.app {
  background-color: #c4bebe !important;
}
</style>
