<template>
  <v-container 
    fluid
  >
    <v-btn 
      text
      color="transparent"
      class="btn-404" 
      @click="$router.push('404')">404</v-btn>
    <Condition v-model="condition"/>
    <div
      v-if="$mq === 'mobile' && drop"
      :style="img.style.mobile"
      class="dropped"/>
    <div
      v-else-if="drop"
      :style="img.style.desk"
      class="dropped"/>
    <transition
      name="fade">
      <div
        v-if="showindice2"
        class="indice2">
        <fa :icon="['fas', 'hand-point-up']" />
        <div>{{ $t('messages.presse') }}</div>
      </div>
    </transition>
    <transition
      :css="false"
      @before-enter="beforeEnter"
      @enter="enter"
    >
      <div
        v-if="tlul"
        class="top-left ul">
        <drag
          :transfer-data="{ text: $t('messages.corner')}"
          :effect-allowed="['move']"
          class="drag"
          drop-effect="move"
          @dragstart="drapStarted('tl')"
          @dragend="dragging = false"
        >
          {{ $t('messages.corner') }}
        </drag>
      </div>
    </transition>
    <drop
      :style="{ width: corner.length * 20 + 20 + 'px'}"
      :class="[dragging ? 'dragging' : '']"
      class="drop top-right ul"
      @dragover="over = true"
      @dragleave="over = false"
      @drop="handleDrop">
      {{ drop }}
    </drop>
    <div class="middle">
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div
          v-if="showQuest"
          class="question">
          {{ question }} 
          <transition
            name="transition-y">
            <span v-if="showindice3">{{ $t('messages.indice3') }} </span>
          </transition>
        </div>
      </transition>
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div v-if="showIndiceBtn">
          <v-btn
            :color="showindice1 ? 'info' : null"
            @click.prevent="onShowArrow">{{ $t('messages.indiceBtn') }}</v-btn>
        </div>
      </transition>
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div v-if="showIndice2Btn">
          <v-btn 
            :color="showindice2 ? 'warning' : null"
            @click.prevent="onShowIndice2" 
          >
            {{ $t('messages.indice2Btn') }}
          </v-btn>
        </div>
      </transition>
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div v-if="showIndice3Btn">
          <v-btn
            :color="showindice3 ? 'error' : null"
            @click.prevent="onShowIndice3">{{ $browserDetect.meta.name != 'Safari' ? $t('messages.indice3Btn') : $t('messages.indice2Btn') }}</v-btn>
        </div>
      </transition>
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div v-if="showResponseBtn">
          <v-btn
            :color="showResponse ? 'success' : null"
            @click.prevent="onShowResponse">{{ $t('messages.responseBtn') }}</v-btn>
        </div>
      </transition>
      <transition
        :css="false"
        @before-enter="beforeEnter"
        @enter="enter"
      >
        <div v-if="showShareBtn">
          <v-btn
            class="btnshare "
            @click.prevent="share">
          <fa :icon="['fas', 'share-alt']" /> {{ $t('messages.share') }} </v-btn>
        </div>
      </transition>
      <transition
        name="fade"
      >
        <div
          class="langselect">
          <v-menu

            offset-y
            origin="right top"
            left
            class="bg"
            nudge-top="-15"
            transition="slide-y-transition"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                text
                v-on="on"/>
            </template>

            <v-list 
              class="py-0"
            >
              <v-list-item
                v-for="language in $i18n.locales" 
                :key="language.code"
                class="bg"
                  
                @click="languageSelected(language.code)"
              >
                <v-img :src="'/' + language.code+ '.png'"/>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </transition>
    </div>
    <transition 
      @before-enter="beforeEnter"
      @enter="enter">
      <div 
        v-if="showThumbs" 
        class="bottom">
        <Thumbs/>
      </div>
    </transition>
    <transition
      :css="false"
      @before-enter="beforeEnter"
      @enter="enter"
      @leave="leave">
      <i
        v-show="showindice1"
        class="fa fa-arrow-down arrow"/>
    </transition>
    <transition
      :css="false"
      @before-enter="beforeEnter"
      @enter="enter"
      @leave="leave">
      <div
        v-if="blul"
        class="bottom-left ul">
        <drag
          :transfer-data="{ text: $t('messages.corner') }"
          :effect-allowed="['link']"
          class="drag"
          drop-effect="link"
          @dragstart="drapStarted('bl')"
          @dragend="dragging = false"
        >{{ corner }}</drag>
      </div>
    </transition>
    <transition
      :css="false"
      @before-enter="beforeEnter"
      @enter="enter"
    >
      <div
        v-if="brul"
        class="bottom-right ul">
        <drag
          :transfer-data="{ text: $t('messages.corner') }"
          :effect-allowed="['link']"
          class="drag"
          drop-effect="link"
          @dragstart="drapStarted('br')"
          @dragend="dragging = false"
        >{{ corner }}</drag>
      </div>
    </transition>
    <v-dialog 
      v-model="indice2Dialog" 
      max-width="500"
      persistent>
      <v-card>
        <v-card-title>
          {{ $t('messages.indice2Text') }}
        </v-card-title>
        <v-card-actions>
          <v-spacer/>
          <v-btn @click="indice2Dialog = false">
            Continuer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Condition from '@/components/condition.vue'
import Thumbs from '@/components/Thumbs.vue'
// We listen to the resize event
window.addEventListener('resize', () => {
  // We execute the same script as before
  let vh = window.innerHeight * 0.01
  document.documentElement.style.setProperty('--vh', `${vh}px`)
})

export default {
  components: {
    Condition,
    Thumbs
  },
  asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
    app
  }) {},
  data() {
    return {
      condition: true,
      flagLanguage: '/' + this.$i18n.locale + '.png',
      img: { style: { desk: null, mobile: null } },
      dragging: false,
      drop: null,
      over: false,
      tlul: false,
      brul: false,
      blul: false,
      showTrad: false,
      showThumbs: false,
      showQuest: false,
      showIndiceBtn: false,
      showIndice2Btn: false,
      showIndice3Btn: false,
      showShareBtn: false,
      showindice1: false,
      showindice2: false,
      showindice3: false,
      indice2Dialog: false,
      showResponseBtn: false,
      showResponse: false,
      text: this.$i18n.locale == 'fr' ? '__' : '___'
    }
  },
  computed: {
    question() {
      return this.$t('messages.question', { text: this.text })
    },
    corner() {
      return this.$t('messages.corner')
    }
  },
  watch: {
    condition(newValue) {
      if (newValue) {
        this.start()
      }
    }
  },

  mounted() {
    if (
      !['Chrome', 'Edge', 'Safari', 'Opera'].includes(
        this.$browserDetect.meta.name
      )
    ) {
      this.$store.dispatch('notif', {
        text: $nuxt.$t('messages.browertoold')
      })
    }

    this.getImage('tl')
    this.getImage('bl')
    this.getImage('br')

    this.condition = false
  },
  methods: {
    start() {
      setTimeout(
        function() {
          this.brul = true
        }.bind(this),
        1500
      )
      setTimeout(
        function() {
          this.tlul = true
        }.bind(this),
        10
      )
      setTimeout(
        function() {
          this.blul = true
        }.bind(this),
        800
      )
      setTimeout(
        function() {
          this.showQuest = true
        }.bind(this),
        3500
      )

      setTimeout(
        function() {
          this.showIndiceBtn = true
        }.bind(this),
        6500
      )

      setTimeout(
        function() {
          this.showTrad = true
        }.bind(this),
        10500
      )

      setTimeout(
        function() {
          this.showThumbs = true
        }.bind(this),
        10500
      )
      if (navigator.share != undefined) {
        setTimeout(
          function() {
            this.showShareBtn = true
          }.bind(this),
          10500
        )
      }
    },
    languageSelected(newValue) {
      var code = this.switchLocalePath(newValue)
      this.$router.push(code)
    },

    getLocaleName(code) {
      var name = this.$t('lang.' + code)

      return name
    },
    showIndice2() {
      if (this.$browserDetect.meta.name === 'Safari') {
        this.showIndice3()
        return
      }

      setTimeout(
        function() {
          this.showIndice2Btn = true
        }.bind(this),
        2500
      )
    },
    showIndice3() {
      setTimeout(
        function() {
          this.showIndice3Btn = true
        }.bind(this),
        2500
      )
    },
    showResponseEvent() {
      setTimeout(
        function() {
          this.showResponseBtn = true
        }.bind(this),
        2500
      )
    },
    drapStarted(position) {
      this.drop = null
      this.showindice2 = false
      this.dragging = true
      this.showindice1 = false
      this.getImage(position)
    },
    getImage(position) {
      if (position == 'tl') {
        var image =
          'http://img.over-blog-kiwi.com/1/38/30/03/20150922/ob_e37e1e_oreille.jpg'
        this.img = {
          style: {
            desk: {
              backgroundImage: 'url(' + image + ')',
              width: '670px',
              height: '731px',
              top: '1%',
              right: '2%'
            },

            mobile: {
              backgroundImage: 'url(' + image + ')',
              width: '670px',
              height: '731px',
              top: '1%',
              right: ''
            }
          }
        }
      } else if (position == 'br') {
        var image =
          'https://www.wanimo.com/veterinaire/images/articles/chat/chat-oreilles.jpg'
        this.img = {
          style: {
            desk: {
              backgroundImage: 'url(' + image + ')',
              width: '566px',
              height: '566px',
              top: '5%',
              right: '8%'
            },
            mobile: {
              backgroundImage: 'url(' + image + ')',
              width: '566px',
              height: '566px',
              top: '3%',
              right: ''
            }
          }
        }
      } else {
        var image = 'http://ericlaforge.r.e.f.unblog.fr/files/2011/09/et.jpg'
        this.img = {
          style: {
            desk: {
              backgroundImage: 'url(' + image + ')',
              width: '500px',
              height: '300px',
              top: '10%',
              right: '10%'
            },
            mobile: {
              backgroundImage: 'url(' + image + ')',
              width: '500px',
              height: '300px',
              top: '6%',
              right: ''
            }
          }
        }
      }
    },
    handleDrop(data) {
      this.over = false
      this.drop = this.corner
    },
    beforeEnter: function(el) {
      el.style.opacity = 0
    },
    enter: function(el, done) {
      Velocity(
        el,
        { opacity: 1, fontSize: '2.em', color: '#ff0000' },
        { duration: 300 }
      )
      Velocity(el, { fontSize: '1.5em', color: '#000000' }, { complete: done })
    },
    leave: function(el, done) {
      Velocity(el, { rotateZ: '-135deg' }, { duration: 0 })
      Velocity(
        el,
        {
          // translateX: '0px',
          translateY: '-145px'
        },
        { duration: 600 }
      )
      Velocity(el, { rotateZ: '360deg' }, { loop: 1, duration: 1600 })
      Velocity(
        el,
        {
          rotateZ: '360deg',
          translateY: '20px',
          translateX: '10px',
          opacity: 0
        },
        { complete: done, duration: 1600 }
      )
    },
    async share() {
      try {
        let url = document.location.href
        const canonicalElement = document.querySelector('link[rel=canonical]')
        if (canonicalElement !== null) {
          url = canonicalElement.href
        }
        await navigator.share({ title: '3615ULAPP', url: url })
      } catch (err) {
        console.error('Share failed:', err.message)
      }
    },
    onShowArrow() {
      this.drop = null
      this.showindice2 = false
      this.showindice3 = false
      this.showResponse = false
      if (this.showindice1) {
        this.showindice1 = false
      } else {
        this.showindice1 = true
        this.showIndice2()
      }
    },
    onShowIndice2() {
      this.drop = null
      this.showindice1 = false
      this.showindice3 = false
      this.showResponse = false
      if (this.showindice2) {
        this.showindice2 = false
      } else {
        this.showindice2 = true
        this.indice2Dialog = true
        if (this.$i18n.locale == 'fr') {
          this.showIndice3()
        } else {
          this.showResponseEvent()
        }
      }
    },
    onShowIndice3() {
      this.drop = null
      this.showindice1 = false
      this.showindice2 = false
      if (this.showindice3) {
        this.showindice3 = false
      } else {
        this.showindice3 = true
        this.showResponseEvent()
      }
    },
    onShowResponse() {
      this.drop = null
      this.showindice1 = false
      this.showindice2 = false
      if (this.showResponse) {
        this.text = this.$i18n.locale == 'fr' ? '__' : '___'
        this.showResponse = false
      } else {
        this.showResponse = true

        this.text = this.$i18n.locale == 'fr' ? 'UL' : 'YOU'
      }
    }
  }
}
</script>

<style lang="scss" >
.indice2 {
  position: fixed;
  left: 10px;
  top: 45px;
  transform: rotate(-45deg);

  @media (min-width: 978px) {
    left: 55px;
  }
}

.dragging {
  background-color: grey;
  border-radius: 2px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.btnshare {
  margin: 10px;
}

.btnshare i {
  margin-right: 10px;
}

.indice3 {
  position: fixed;
  right: 20px;
  top: 20px;
}

.arrow {
  transform: rotate(-135deg);
  position: fixed;
  right: 40px;
  top: 40px;
  font-size: 7rem !important;
}

.question {
  display: inline;
}

.container {
  font-size: 30px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  /* position: relative; */
  /* margin: auto auto; */
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-404 {
  position: fixed;
  top: 50vh;
  left: 5px;
}

.bottom-left {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.top-left {
  position: fixed;
  top: 5px;
  left: 5px;
}

.bottom-right {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.drop {
  position: fixed;
  top: 15%;
  right: 15%;
  font-size: 1.5em;
  height: 60px;
  width: 60px;
}

.dropped {
  position: fixed;
}

.Btn {
  opacity: 0.7;
}

.middle {
  top: 250px;

  @media (min-width: 978px) {
    padding-top: 0px;
  }
}

.bottom {
  position: fixed;
  bottom: 0px;
}

.bg {
  background-color: #a59292;
}

.langselect {
  font-size: 12px !important;
  position: fixed;
  top: 10px;
  left: 48%;
  right: 48%;

  text-align: center;

  .select {
    width: 100%;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  margin-right: 3px;
}
</style>
